<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <ul>
      <li><a href="/book">Book</a></li>
      <li><a href="/author">Author</a></li>
      <li><a href="/publisher">Publisher</a></li>
      <li style="float:right"><a class="active" href="/">Home</a></li>
     </ul>
    </div>

 <div class="container">
  <div class="row">
   <div class="eleven column" style="margin-top: 10%">
     <h2>{{title}}</h2>
  <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Edition</th>
      <th>Copyright</th>
      <th>Language</th>
      <th>Pages</th>
      <th>Author</th>
      <th>Publisher</th>
    </tr>
  </thead>
      <tbody>
      {{#books}}
      <tr>
      <td>
      <a href="book/{{id}}">{{title}}</a></td>
      <td>{{edition}}</td>
      <td>{{copyright}}</td>
      <td>{{language}}</td>
      <td>{{pages}}</td>
      <td><a href="author/{{author_id}}">{{author}}</a></td>
      <td><a href="publisher/{{publisher_id}}">{{publisher}}</a></td>
      </tr>
      {{/books}}
      </tbody>
     </table>
    </div>
   </div>
 </div>
</body>