<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <ul>
      <li><a href="book">Book</a></li>
      <li><a href="author">Author</a></li>
      <li><a href="publisher">Publisher</a></li>
      <li style="float:right"><a class="active" href="/">Home</a></li>
     </ul>
    </div>

 <div class="container">
  <div class="row">
   <div class="eleven column" style="margin-top: 10%">
    <h2>{{title}}</h2>
    <form>
     {{#author}}
     <div class="row">
      <div class="three  columns">
       <label for="nameInput">Author</label></td>
       <input class="u-full-width" type="text" readonly
          id="name" value="{{author}}">
      </div>
      <div class="three  columns">
       <label for="degreeInput">Nationality</label>
       <input class="u-full-width" type="text" readonly
          id="degree" value="{{nationality}}">
      </div>
      <div class="three columns">
        <label for="degreeInput">Birth Year</label>
        <input class="u-full-width" type="text" readonly
           id="degree" value="{{birth_year}}">
       </div>
       <div class="three  columns">
        {{#book}}
      <td><a href="/book/{{idb}}">{{title}}</a></td>
      {{/book}}
    </div>
     {{/author}}
     <div class="three columns">
      <a class="button button-primary" href="/author">Back</a>
     </div>
    </form>
   </div>
  </div>
 </div>
</body>